// Our about meta box
#conf-schedule-about-mb {

  p {
    line-height: 19px;
  }

}

// Any of our settings tables
.conf-schedule-settings {

  label,
  legend {
    display: block;
    font-size: inherit !important;
    margin: 0 0 5px 0;
  }

  input.regular-text {
    width: 100%;
  }

}

// The main save button
#conf_schedule_save_changes {
  width: 100%;
}